<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up||ChatMe</title>
    <style>
        .display{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
    </style>
</head>
<body class="signup">
    <div class="navbar">
        <h1>ChatMe</h1>
    </div>
    <div class="main">
        <form action="/user/login/Auth" method="post" class="display" >
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="pass">Password</label>
                <input type="password" name="password" id="password" required>
            <button type="submit" class="btn">Signup</button>
        </form>
    </div>
</body>
</html>