<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatMe</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="chat_section">
        <div class="brand">
            <img src="chat.png" alt="logo">
            <h1>ChatMe</h1>
        </div>
        <div class="message_area"></div>
        <div>
             <input type="text" name="message" id="textarea" placeholder="Write a message...">
             <button type="submit" class="btn">Send</button>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
</body>
</html>