    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #272727;
        font-family: 'Roboto', sans-serif;
    }
    .chat_section {
        width: 800px;
        max-width: 90%;
        background: #6a6a6a;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
    .brand {
        padding: 20px;
        background: #b3b2b2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .brand img{
        height: 2rem;
        width: 2rem;
    }
    .brand h1 {
        text-transform: uppercase;
        font-size: 20px;
        color: #0022ff;
        margin-left: 10px;
    }
    .message_area{
        height: 500px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-top: 40px;
    }
    input {
        width: 70%;
        padding:10px;
        margin:0px 20px 10px 50px;
        border: none;
        font-size: 16px;
        outline: none;
        border-radius: 3px;
        background: #FBFBFB;
    }

    .btn{
        color: white;
        background-color: #0022ff;
        border-radius: 4px;
        padding: 10px 20px;
        border: 2px solid white;
    }
    .message {
        padding: 20px; 
        border-radius: 4px; 
        margin-bottom: 40px;
        max-width: 300px;
        position: relative;
    }
    .incoming {
        background: #6761dc;
        color: #fff;  
    }
    .outgoing {
        background: #000dff;
        color: #787986;
        margin-left: auto;
    }
    .message h4 {
        position: absolute;
        top: -20px;
        left: 0;
        color: #333;
        font-size: 14px;
    }